@import '~antd/dist/antd.css';

.h100 {
    height: calc(100vh - 64px);
}
.wrapper {
   display: flex;
}

.link {
    color: white;
    display: block;
    padding: 0 20px;
    transition: 0.2s linear;
}


.link:hover {
    color: white;
    background-color: #1890FF;
}

.reg-link {
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
    font-size: 16px;
    color: #c7c7c7;
}

.reg-link:hover {
    color: #1890FF;
}